*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

   }
 /*BODY */
   body {
    background-color: #f6f8f9;
   }
/* /BODY */


   /*HEADER*/  
header {
    width: 100%;
    background-color: white;
    height: 60px;
    position: relative  
}

 /* /HEADER */

 /* TITOLOHEADER */

#titoloheader {
    font-size: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 50px;
    height: 50px;
    display: inline-block;
    position: absolute;
    margin-top: -5px;
}
/* /TITOLOHEADER*/

/* SECTION1 */
.section1{
    background-color: white;
    background-size: auto;
    margin-bottom: 30px;
    margin: 150px;
    border-radius: 3px;
    padding-top: 15px;
    margin-bottom: 50px;
}
/* /SECTION1 */

/* BUTTON1 */
#button1 {
    background-color: #47adf1;
    border-radius: 5px;
    border: none ;
    padding: 5px 5px;
    color: white;
}
/* /BUTTON1 */

/* BUTTON2 */
#button2 {
    background-size: 5px;
    background-color: white;
    border-radius: 5px;
    border-color: #f6f8f9;
    border : 1px solid #e0e3e6;
    padding: 5px 5px;
  
     ;
}

/* /BUTTON2 */

/* SECTION1 */
.section1{

margin-bottom: 10px;

}

/* /SECTION1 */

/* HR */

hr{
    margin-top: 20px;
    border-color: #f6f8f9;
    width:auto
}

/* /HR */

/* MAIN */

.main1{
    padding-left: 100px;
}

/*MAIN*/
#titolinav {
font-size: 20px;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
/* /MAIN */

/*MAIN2*/

.main2{
    padding-left: 100px;
}
/* /MAIN2*/

/* CHECK */
.check {
    border-radius: 50%;
    color: green;
    border: green solid 1px;
    padding: 2px 4px;
    margin-left: 5px;
    margin-right: 10px;
    font-size: 8px;
}

/* /CHECK */

/* SOTTOTITOLI */
 #sottotitoli {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 }

/* /SOTTOTITOLI */

/* UL */

 ul {
    list-style: none;
 }

/* /UL */

/* NOCHECK */

 .nocheck {
    border-radius: 50%;
    color: rgb(233, 27, 27);
    border: rgb(233, 27, 27) solid 1px;
    padding: 2px 4px;
    margin-left: 5px;
    margin-right: 10px;
    font-size: 8px;
 }

 /* /NOCHECK */

 /*BUTTON3*/

#button3 {
    background-color: #47adf1;
    border-radius: 10px;
    border: none ;
    padding: 5px 5px;
    color: white;
}
/* /BUTTON3 */

/* BUTTON4 */

#button4 {
    background-color: #9c72e4;
    border-radius: 10px;
    border: none ;
    padding: 5px 5px;
    color: white;
}
/* /BUTTON4 */

/* BUTTON5 */
#button5 {
    background-color: #64c0a9;
    border-radius: 10px;
    border: none ;
    padding: 5px 5px;
    color: white;
}

/* /BUTTON5 */

/* BUTTON6 */

#button6{
    background-color: #f29e33;
    border-radius: 10px;
    border: none ;
    padding: 5px 5px;
    color: white;
}

/* /BUTTON6 */
#button7 {
    background-color: #d864a1;
    border-radius: 10px;
    border: none ;
    padding: 5px 5px;
    color: white;
}

#button8 {

    background-color: #b0c926;
    border-radius: 10px;
    border: none ;
    padding: 5px 5px;
    color: white;
}
